@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap');

:root {
    --CordoFundoPrimaria: #326ca9;
    --CorSecundaria: #dedede;
    --CorTerciaria: #2c2a2a;

    --FontePrimaria: 'Oswald', sans-serif;  
    --FontSecundaria:  'Roboto Slab', serif;
}
body {
    background-color: var(--CordoFundoPrimaria);
}
#logo img {
    width: 60px;
}
* {
    margin: 0;
    padding: 0;
}
.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.cabecalho_menu ul {
    list-style: none;
    display: flex;
    
}
.cabecalho_menu a {
    color: var(--CorSecundaria);
    font-family: var(--FontePrimaria);
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
}
.cabecalho_menu li {
    margin: 0 10px;
}
.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    padding: 5% 15%;
}
.apresentacao_imagem img {
    width: 100%;
    padding-left: 7rem;
    transition: .2s ease-in-out;
}
.apresentacao_conteudo {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 3rem;
    color: var(--CorSecundaria);
}
.apresentacao_titulo {
    font-size: 2rem;
    font-family: var(--FontePrimaria);
}
.destaque {
    color: var(--CorTerciaria);
}
.apresentacao_texto {
    font-size: 1.2rem;
    font-family: var(--FontSecundaria);
}
.apresentacao_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.titulo_links {
    color: var(--CorSecundaria);
    font-family: var(--FontePrimaria);
    font-size: 2rem;
}
.botao_link_github {
    color: var(--CorSecundaria);
    text-decoration: none;
    border: 2px solid var(--CorSecundaria);
    border-radius: 6px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: var(--FontePrimaria);
    font-size: 1.2rem;
    text-align: center;
    gap: 0.4rem;
    width: 50%;
    display: flex;
    justify-content: center;
}
.botao_link_linkedin {
    color: var(--CorSecundaria);
    text-decoration: none;
    border: 2px solid var(--CorSecundaria);
    border-radius: 6px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: var(--FontePrimaria);
    font-size: 1.2rem;
    text-align: center;
    width: 50%;
    gap: 0.4rem;
    display: flex;
    justify-content: center;
}
.botao_link_instagram {
    color: var(--CorSecundaria);
    text-decoration: none;
    border: 2px solid var(--CorSecundaria);
    border-radius: 6px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: var(--FontePrimaria);
    font-size: 1.2rem;
    text-align: center;
    width: 50%;
    gap: 0.4rem;
    display: flex;
    justify-content: center;
}
.fa-brands {
    color: var(--CorSecundaria);
    margin-top: 6px;
}
.rodape {
    display: flex;
    justify-content: center;
    color: var(--CorSecundaria);
    background-color: var(--CorTerciaria);
    padding: 1rem;
    font-family: var(--FontSecundaria);
    font-size: 1rem;
}
@media (max-width: 768px){
    .apresentacao {
        flex-direction: column-reverse;
    }
    .apresentacao_conteudo {
        width: auto;
    }
    .apresentacao_imagem img {
        padding-left: 0rem;
    }
}
.apresentacao_imagem img:hover {
    transform: scale(1.1);
    transition: .2s ease-in-out;
}